<h1>Kuski.js</h1>
<p>El uso de <span class="remark">Kushki.js</span> como librería de FrontEnd asegura que la información sensible de los pagadores, específicamente los datos de Tarjetas de Crédito, sea tratada, procesada, y transmitida de forma segura sin que esta información pase por los servidores del Comercio; reduciendo así el Scope PCI del Comercio.</p>
<p><span class="note">Nota:</span> El uso de esta librería permite al Comercio desarrollar el Look & Feel del formulario y así poder adaptarlo a su UI/UX.</p>
<h4>Implementación de la Librería</h4>
<textarea highlight-js [options]="{}" [lang]="'html'">
	<script src="https://cdn.kushkipagos.com/kushki.min.js"></script>
</textarea>
<table class="myTable">
	<tr>
		<th colspan="2"><img src="/assets/img/Tarjetas.svg" width="20px">&nbsp;&nbsp;Tarjetas</th>
		<th colspan="2"><img src="/assets/img/Banco.svg" width="20px">&nbsp;&nbsp;Transferencia</th>
		<th colspan="2"><img src="/assets/img/Efectivo.svg" width="20px">&nbsp;&nbsp;Efectivo</th>
	</tr>
	<tr>
		<td><a href="/kushkijsCard" class="aKushkijs">Pagos Únicos</a></td>
		<td align="center"><a href="/kushkijsCard"><img src="/assets/img/kjs_card.png" width="250px"></a></td>
		<td><a href="/kushkijsPSE" class="aKushkijs">Colombia</a></td>
		<td align="center"><a href="/kushkijsPSE"><img src="/assets/img/kjs_pse.png" width="250px"></a></td>
		<td><a href="/kushkijsCash" class="aKushkijs">Pagos Únicos</a></td>
		<td align="center"><a href="/kushkijsCash"><img src="/assets/img/kjs_cash.png" width="250px"></a></td>
	</tr>
	<tr>
		<td><a href="/kushkijsOnDemand" class="aKushkijs">Pagos Bajo Demanda</a></td>
		<td align="center"><a href="/kushkijsOnDemand"><img src="/assets/img/kjs_od.png" width="250px"></a></td>
		<td><a href="/kushkijsTransfer" class="aKushkijs">Otros Países</a></td>
		<td align="center"><a href="/kushkijsTransfer"><img src="/assets/img/kjs_transfer.png" width="250px"></a></td>
		<td rowspan="5" style="background-color: #B7FFEE"></td>
		<td rowspan="5" style="background-color: #B7FFEE"></td>
	</tr>
	<tr>
		<td><a href="/kushkijsSubs" class="aKushkijs">Suscripciones Calendarizadas</a></td>
		<td align="center"><a href="/kushkijsSubs"><img src="/assets/img/kjs_subs.png" width="250px"></a></td>
		<td rowspan="4" style="background-color: #B7FFEE"></td>
		<td rowspan="4" style="background-color: #B7FFEE"></td>
	</tr>
	<tr>
		<td><a href="/kushkijsCardAsync" class="aKushkijs">Pagos Únicos con WebPay</a></td>
		<td align="center"><a href="/kushkijsCardAsync"><img src="/assets/img/kjs_wp.png" width="250px"></a></td>
	</tr>
	<tr>
		<td><a href="/kushkijsOnDemandCA" class="aKushkijs">Pagos Bajo Demanda<br>WebPay OneClick</a></td>
		<td align="center"><a href="/kushkijsOnDemandCA"><img src="/assets/img/kjs_wpoc.png" width="250px"></a></td>
	</tr>
	<tr>
		<td><a href="/kushkijsSubsCA" class="aKushkijs">Suscripciones Calendarizadas<br>WebPay OneClick</a></td>
		<td align="center"><a href="/kushkijsSubsCA"><img src="/assets/img/kjs_subswp.png" width="250px"></a></td>
	</tr>
</table>